
@use '@/scss/abstracts' as *;

.consultationItem {
  display: flex;
  border-radius: 20px;
  border: 1px solid $light-grey;
  background: #FFF;
  padding: $gap-md;
  margin-bottom: $gap-xlg;
  flex-wrap: wrap;

  @include tablet {
    flex-wrap: nowrap;
  }
}

.doctorImage {
  position: relative;
  flex: 80px 0;
  height: 80px;
  margin-right: $gap-md;

  @include tablet {
    width: 160px;
    height: 160px;
  }

  img {
    border-radius: 10px;
  }
}

.extraInfoItem {
  display: flex;
  align-items: center;
  gap: $gap-xs;
  margin-bottom: $gap-md;
  
  &Icon {
    border-radius: 4px;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    background: rgb($primary, 0.20);
  }
}

.mainInfo {
  flex: 1;
}

.rating {
  margin-bottom: $gap-md;
  display: none;

  @include tablet {
    display: block;
  }
}

.price {
  margin-top: $gap-xlg;
  margin-bottom: $gap-lg;

  @include tablet {
    margin-top: 0;
  }

  div {
    div {
      justify-content: space-between;

      @include tablet {
        justify-content: flex-end;
      }
    }
  }
}

.priceInfo {
  flex: 100% 0 0;
}

.mobileRating {
  margin-bottom: $gap-sm;

  div {
    justify-content: start;
  }

  @include tablet {
    display: none;
  }
}