@use '@/scss/abstracts' as *;

.alertModal {
  width: calc(100vw - 40px);
  margin: 0 auto;
  height: 200px;
  border-radius: 20px;
  background: linear-gradient(83deg, $primary 10.55%, $secondary 91.12%);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  @include tablet {
    margin: 0;
    width: 560px;
    height: 200px;
  }
}

.message {
  max-width: 400px;
  text-align: center;
}