@use '@/scss/abstracts' as *;

.row {
  display: flex;
  align-items: center;

  & > * {
    flex: 1;
    flex: 15%;
    &:nth-child(3) {
      flex: 40%;
    }
    &:first-child {
      flex: 30%;
    }
    &:last-child {
      flex: 50px;
    }
  }
}

.head {
  margin-bottom: $gap-md;
  padding: 0 $gap-md;
}

.item {
  padding: $gap-md;
  border-radius: 20px;
  border: 1px solid $light-grey;
  margin-bottom: $gap-xlg;
}

.clinicInfo {
  display: flex;
  align-items: center;
}

.image {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: $gap-md;

  img {
    object-fit: cover;
  }
}

.deleteButton {
  background: transparent;
  border: none;
  cursor: pointer;

  svg {
    path {
      fill: $dangerous;
      color: $dangerous;
    }
  }
}

.cartInfo {
  &Item {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: $gap-xlg;
    margin-top: customGap(10);

    &:not(:last-child) {
      margin-bottom: $gap-xlg;
    }

    button {
      max-width: 230px;
    }
  }
}

.serviceType {
  display: flex;
  align-items: center;
  gap: $gap-md;

  &Icon {
    width: 32px;
    height: 32px;
    background-color: $primary;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;

    svg {
      path {
        color: $white;
        fill: $white;
      }
    }
  }
}

.link {
  text-decoration: none;
}