@use '@/scss/abstracts' as *;

.row {
  display: flex;
  align-items: end;

  @include tablet {
    align-items: center;
  }

  & > * {
    flex: 100% 0;
    flex-shrink: 0;

    @include tablet {
      flex: 15% 1;
      flex-shrink: 1;
    }

    &:nth-child(3) {
      flex: 50% 0;
      flex-shrink: 0;

      @include tablet {
        flex: 40%;
      }
    }

    &:nth-child(4) {
      flex: 50% 0;
      flex-shrink: 0;

      @include tablet {
        flex: 15% 1;
      }
    }

    &:first-child {
      flex: 100% 0;
      flex-shrink: 0;

      @include tablet {
        flex: 30% 1;
        flex-shrink: 1;
      }
    }
    &:last-child {
      flex: 50px;
    }
  }
}

.head {
  margin-bottom: $gap-md;
  padding: 0 $gap-md;
  display: none;

  @include tablet {
    display: flex;
  }
}

.item {
  padding: $gap-md;
  border-radius: 20px;
  border: 1px solid $light-grey;
  margin-bottom: $gap-xlg;
  flex-wrap: wrap;
  position: relative;

  @include tablet {
    flex-wrap: nowrap
  }
}

.clinicInfo {
  display: flex;
  align-items: center;
  margin-bottom: $gap-md;

  @include tablet {
    margin-bottom: 0;
  }
}

.image {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: $gap-md;

  img {
    object-fit: cover;
  }
}

.deleteButtonContainer {
  position: absolute;
  top: 11px;
  right: 6px;

  @include tablet {
    top: initial;
    right: initial;
    position: relative;
  }
}

.deleteButton {
  background: transparent;
  border: none;
  cursor: pointer;

  svg {
    path {
      fill: $dangerous;
      color: $dangerous;
    }
  }
}

.cartInfo {
  &Item {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: $gap-xlg;
    margin-top: customGap(10);

    &:not(:last-child) {
      margin-bottom: $gap-xlg;
    }

    button {
      max-width: 230px;
    }
  }
}

.serviceType {
  display: flex;
  align-items: center;
  gap: $gap-md;
  margin-bottom: $gap-md;

  @include tablet {
    margin-bottom: 0;
  }

  &Icon {
    width: 32px;
    height: 32px;
    background-color: $primary;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;

    svg {
      path {
        color: $white;
        fill: $white;
      }
    }
  }
}

.priceBlock {
  p {
    text-transform: capitalize;

    @include tablet {
      text-transform: none;
    }
  }

  span {
    display: none;

    @include tablet {
      display: inline;
    }
  }

  div {
    div {
      justify-content: flex-end;

      @include tablet {
        justify-content: flex-start;
      }
    }
  }
}

.link {
  text-decoration: none;
}