@use '@/scss/abstracts' as *;

.accountTemplate {
  @include tablet {
    display: flex;
    gap: $gap-xlg;
  }
}

.accountNavigation {
  margin-bottom: customGap(10);

  @include tablet {
    margin-bottom: 0;
  }
}

.content {
  flex: 1;
}