@use '@/scss/abstracts' as *;

.ratingWrap {
  display: flex;
  align-items: center;
}

.rating {
  display: flex;
  align-items: center;
  border-radius: 20px;
  background: $secondary;  
  padding: $gap-xs $gap-md;
  margin-right: $gap-sm;
}

.ratingIcon {
  margin-right: $gap-xs;
}