@use '@/scss/abstracts' as *;

.clinicMainInfo {
  margin-bottom: customGap(10);

  @include tablet {
    display: flex;
    gap: $gap-xlg;
  }
}

.itemWrapper {
  @include tablet {
    flex-direction: column;
    flex: 50%;
    display: flex;

    & > div:not(:last-child) {
      border-bottom: 1px solid $light-grey;
    }
  }
  & > div:not(:last-child) {
    border-bottom: 1px solid $light-grey;
  }
}

.item {
  display: flex;
  @include tablet {
    flex: 50%;
    display: flex;
    padding-bottom: 20px;
  }
}

.extraInfo {
  display: flex;
  flex-direction: column;
  gap: 20px;

  & > div {
    padding: 20px 0px;
  }

  & > div:not(:last-child) {
    border-bottom: 1px solid $light-grey;
  }
}

.nameWrapper {
  display: flex;
  justify-content: space-between;
}

.image {
  width: 160px;
  height: 160px;
  text-align: center;
  border-radius: 10px;
  border: 1px solid $light-grey;
  overflow: hidden;
  margin-right: $gap-xlg;
  margin-bottom: $gap-xlg;
  position: relative;

  @include tablet {
    flex: 160px 0;
    height: 160px;
    margin-bottom: 0;
  }

  img {
    object-fit: contain;
  }
}

.clinicInfo {
  flex: 1;
  margin-bottom: $gap-xlg;

  @include tablet {
    margin-bottom: 0;
  }
}

.topSection {
  margin-bottom: customGap(2.5);
  display: flex;
  justify-content: space-between;

  @include tablet {
    margin-bottom: $gap-lg;
  }
}

.name {
  margin-bottom: customGap(2.5);

  @include tablet {
    margin-bottom: customGap(6);
  }
}
