@use '@/scss/abstracts' as *;

.link {
  text-decoration: none;
}

.order {
  margin-bottom: customGap(10);

  h3 {
    margin-bottom: $gap-md;
  }
}

.voucher {
  border-radius: 20px;
  border: 1px solid $light-grey;
  margin-bottom: $gap-xlg;
  padding: $gap-md;
  display: flex;
  flex-wrap: wrap;

  @include tablet {
    padding: $gap-md 0;
    flex-wrap: nowrap;
  }
}

.block {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 100% 1 1;

  @include tablet {
    padding: 0 $gap-md;
    border-left: 1px solid $grey;
  }

  &Center {
    & > div {
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      margin-bottom: $gap-md;

      @include tablet {
        margin-bottom: 0;
        width: auto;
        display: block;
      }
    }
  }
}

.serviceType {
  display: flex;
  flex-direction: column;
  gap: $gap-xs;

  @include tablet {
    display: block;
    flex-direction: row;
    gap: 0;
  }

  svg {
    path {
      color: $primary;
      fill: $primary;
    }
  }
}

.serviceTypeContainer {
  flex: 115px 0;
  flex-shrink: 0;
  height: 116px;
  border-bottom: 1px solid $grey;
  border-right: 1px solid $grey;

  @include tablet {
    flex: 120px 0;
    flex-shrink: 0;
    height: auto;
    border-bottom: none;
    border-right: none;
  }
}

.mainInfo {
  display: flex;
  gap: $gap-md;
  align-items: center;

  @include tablet {
    margin-bottom: $gap-md;
  }
}

.image {
  border-radius: 50%;
  border: 1px solid $light-grey;
  flex: 48px 0;
  flex-shrink: 0;
  height: 48px;
  overflow: hidden;
  display: none;

  @include tablet {
    display: block;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.clinicImage {
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.mainSection {
  justify-content: flex-start;
  flex: calc(100% - 115px) 0;
  flex-shrink: 0;
  border-bottom: 1px solid $grey;
  padding: 0 $gap-md;

  @include tablet {
    border-bottom: 0;
    flex: 450px 1;
    flex-shrink: 0;
  }
}

.statusBlock {
  flex: 100% 0;
  flex-shrink: 0;
  border-top: 1px solid $grey;
  padding-top: $gap-md;

  & > div {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;

    @include tablet {
      display: block;
      width: auto;
    }
  }

  @include tablet {
    flex: 275px 0;
    flex-shrink: 0;
    border-top: none;
  }
}

.status {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: $gap-sm;

  @include tablet {
    margin-bottom: $gap-sm;
  }

  span {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: inline-block;
    border: 2px solid #7d7d7d;
  }

  &Active {
    span {
      background-color: $primary;
    }
  }

  &Done {
    span {
      background-color: $light-grey;
    }
  }

  &UnActive {
    span {
      background-color: $dangerous;
    }
  }
}

.statusButton {
  width: 186px;
}

.mainSectionItem {
  display: flex;
  align-items: flex-start;
  gap: $gap-md;
  justify-content: space-between;
}

.priceBlock {
  display: flex;
  align-items: center;
  gap: $gap-xs;

  h5 {
    white-space: nowrap;
    position: relative;

    &:first-child {
      text-decoration: line-through;
    }
  }
}

.serviceInfo {
  &Mobile {
    width: 100%;
    padding: $gap-md 0;
    border-bottom: 1px solid $grey;
    margin-bottom: $gap-md;
    @include tablet {
      display: none;
    }
  }

  &Desktop {
    display: none;

    @include tablet {
      display: block;
    }
  }
}

.blockTitle {
  @include tablet {
    margin-bottom: $gap-sm !important;
  }
}

.message {
  padding-top: $gap-lg;
}
