@use '@/scss/abstracts' as *;

.button {
  border-radius: 40px;
  padding: $gap-sm $gap-xlg;
  width: 100%;
  outline: none;
  border: none;
  cursor: pointer;

  @include tablet {
    padding: customGap(2.5) $gap-xlg;
  }
}

.primary {
  background-color: $primary;

  p {
    color: $white;
  }

  &:hover {
    background-color: $secondary;
  }
}

.secondary {
  background-color: $secondary;

  p {
    color: $white;
  }

  &:hover {
    background-color: $primary;
  }
}

.white {
  background-color: $white;

  p {
    color: $black;
  }

  &:hover {
    p {
      color: $primary;
    }
  }
}
