@use '@/scss/abstracts' as *;

.servicePanel {
  display: flex;
  gap: $gap-xlg;
}

.serviceItem {
  border-radius: 20px;
  border: 1px solid $light-grey;
  padding: $gap-md $gap-md $gap-md $gap-xlg;
  margin-bottom: $gap-xlg;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.servicesSections {
  flex: 66.6%;
}

.buyInfo {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.addToCartButton {
  padding-left: $gap-lg;
  border-left: 1px solid $light-grey;
  margin-left: $gap-xlg;
} 

.consultationItem {
  display: flex;
  border-radius: 20px;
  border: 1px solid $light-grey;
  background: #FFF;
  padding: $gap-md;
  margin-bottom: $gap-xlg;
}

.doctorImage {
  border-radius: 10px;
  margin-right: $gap-md;
}

.extraInfoItem {
  display: flex;
  align-items: center;
  gap: $gap-xs;
  margin-bottom: $gap-md;
  
  &Icon {
    border-radius: 4px;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    background: rgb($primary, 0.20);
  }
}

.mainInfo {
  flex: 1;
}

.rating {
  margin-bottom: $gap-md;
}

.price {
  margin-bottom: $gap-lg;
}