@use '@/scss/abstracts' as *;

.servicePanel {
  display: flex;
  flex-direction: column;
  gap: customGap(10);

  @include tablet {
    flex-direction: row;
    gap: $gap-xlg;
  }
}

.serviceItem {
  border-radius: 20px;
  border: 1px solid $light-grey;
  padding: $gap-md;
  margin-bottom: $gap-xlg;

  @include tablet {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $gap-md $gap-md $gap-md $gap-xlg;
  }

  h3 {
    margin-bottom: customGap(6);

    @include tablet {
      margin-bottom: 0;
    }
  }
}

.servicesSections {
  flex: 66.6%;
}

.buyInfo {
  @include tablet {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}

.addToCartButton {
  button {
    text-wrap: nowrap;
  }

  @include tablet {
    padding-left: $gap-lg;
    border-left: 1px solid $light-grey;
    margin-left: $gap-xlg;
  }
} 

.price {
  margin-bottom: $gap-xlg;

  @include tablet {
    margin-bottom: 0;
  }

  div {
    div {
      justify-content: start;

      @include tablet {
        justify-content: flex-end;
      }
    }
  }
}

.consultationItems {
  & > div {
    border-radius: 20px;
    border: 1px solid $light-grey;
    background: #FFF;
    padding: $gap-md;
    margin-bottom: $gap-xlg;
  }
}