@use '@/scss/abstracts' as *;

.servicePanel {
  display: flex;
  gap: $gap-xlg;
}

.serviceItem {
  border-radius: 20px;
  border: 1px solid $light-grey;
  padding: $gap-md $gap-md $gap-md $gap-xlg;
  margin-bottom: $gap-xlg;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.servicesSections {
  flex: 66.6%;
}

.buyInfo {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.addToCartButton {
  padding-left: $gap-lg;
  border-left: 1px solid $light-grey;
  margin-left: $gap-xlg;
} 
