@use '@/scss/abstracts' as *;

.list {
  display: flex;
  flex-direction: column;
  gap: $gap-xlg;
  list-style: none;
  margin: 0;
  padding: 0;
}

.item {
  & :not(:last-child) {
    margin-bottom: $gap-md;
  }
}
