@use '@/scss/abstracts' as *;

.card {
  border-radius: 20px;
  border: 1px solid $light-grey;
  margin-bottom: $gap-xlg;
  padding: $gap-xlg;
}

.mainSection {
  display: flex;
  margin-bottom: $gap-md;
}

.content {
  border-bottom: 1px solid $light-grey;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.image {
  flex-basis: 160px;
	flex-grow: 0;
	flex-shrink: 0;
  height: 160px;
  margin-right: $gap-xlg;
  border-radius: 10px;
  border: 1px solid $light-grey;
  overflow: hidden;

  img {
    object-fit: contain;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: customGap(10);
}

.bottomSection {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.link {
  display: inline-block;
  width: 160px;
}