@use '@/scss/abstracts' as *;

.card {
  border-radius: 20px;
  border: 1px solid $light-grey;
  margin-bottom: $gap-xlg;
  padding: $gap-xlg;
}

.mainSection {
  display: flex;
}

.content {
  width: 100%;
  border-bottom: 1px solid $light-grey;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.generalCartContent {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.image {
  flex-basis: 160px;
	flex-grow: 0;
	flex-shrink: 0;
  height: 160px;
  margin-right: $gap-xlg;
  border-radius: 10px;
  border: 1px solid $light-grey;
  overflow: hidden;

  img {
    object-fit: contain;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: $gap-md;
}

.bottomSection {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: $gap-md;
}

.link {
  display: inline-block;
  width: 160px;
}

.label {
  max-width: fit-content;
  display: inline-block;
  border-radius: 20px;
  background: $light-grey;
  padding: 2px 10px;
}

.services {
  margin-top: $gap-xlg;
}

.service {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: $gap-sm 0;
  border-top: 1px solid $light-grey;

  &:last-child {
    padding-bottom: 0;
  }
}

.buyInfo {
  display: flex;
  align-items: center;
  gap: $gap-md;

  button {
    max-width: 105px;
  }
}