@use '@/scss/abstracts' as *;

.card {
  border-radius: 20px;
  border: 1px solid $light-grey;
  margin-bottom: $gap-xlg;
  padding: $gap-md;

  @include tablet {
    padding: $gap-xlg;
  }
}

.mainSection {
  display: flex;

  .specializations {
    display: none;

    @include tablet {
      display: block;
    }
  }
  
  &WithBorder {
    border-bottom: 1px solid $grey;
    margin-bottom: customGap(2.5);
  
    @include tablet {
      border-bottom: 0;
      margin-bottom: 0;
    }
  }
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include tablet {
    border-bottom: 1px solid $light-grey;
  }
}

.generalCartContent {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.image {
  flex-basis: 80px;
	flex-grow: 0;
	flex-shrink: 0;
  height: 80px;
  margin-right: customGap(2.5);
  border-radius: 10px;
  border: 1px solid $light-grey;
  overflow: hidden;
  position: relative;

  @include tablet {
    flex-basis: 160px;
    height: 160px;
    margin-right: $gap-xlg;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: $gap-md;
  flex-direction: column-reverse;
  gap: $gap-sm;

  @include tablet {
    flex-direction: row;
    gap: 0;
  }

  div {
    justify-content: flex-start;

    @include tablet {
      justify-content: flex-end;
    }
  }
}

.bottomSection {
  @include tablet {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
}

.link {
  display: inline-block;
  width: 100%;
  margin-top: $gap-md;

  @include tablet {
    width: 160px;
    margin-top: 0;
  }
}

.label {
  max-width: fit-content;
  display: inline-block;
  border-radius: 20px;
  background: $light-grey;
  padding: 2px 10px;
}

.services {
  margin-top: $gap-xlg;
}

.service {
  padding: $gap-sm 0;
  border-top: 1px solid $light-grey;

  @include tablet {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &:last-child {
    padding-bottom: 0;
  }
}

.buyInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: $gap-md;
  margin-top: customGap(7);

  @include tablet {
    margin-top: 0;
    justify-content: start;
  }

  button {
    max-width: 105px;
  }
}

.price {
  div {
    div {
      justify-content: start;

      @include tablet {
        justify-content: flex-end;
      }
    }
  }
}

.specializationsMobile {
  @include tablet {
    display: none;
  }
}

.desktopBottomSection {
  margin-top: $gap-md;
  display: none;

  @include tablet {
    display: block;
  }
}

.mobileBottomSection {
  margin-top: $gap-xlg;
  padding-top: $gap-xlg;
  border-top: 1px solid $light-grey;

  @include tablet {
    display: none;
  }
}