@use '@/scss/abstracts' as *;

/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
}

*::-webkit-scrollbar{
  display: none;
}

.container {
  padding: 0 $gap-md;
  width: 100%;
  margin: 0 auto;

  @include laptop-1 {
    max-width: 1300px;
  }

  @include desktop {
    max-width: 1720px;
  }
}

.main {
  margin-bottom: customGap(15);
  padding-top: $gap-xlg;

  @include tablet {
    margin-bottom: customGap(25);
    padding-top: customGap(10);
  }
}

a[href^=tel] {
  text-decoration:inherit;
  color: inherit;
}