@use '@/scss/abstracts' as *;

.reviews {
  border-radius: 20px;
  border: 1px solid $light-grey;
  background: $white;
  box-shadow: 0px 5px 20px 0px rgba(0, 88, 193, 0.10), 0px 2px 8px 0px rgba(0, 113, 83, 0.04);
}

.header {
  padding: $gap-md;
  border-bottom: 1px solid $light-grey;

  @include tablet {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 76px;
    padding: 0 $gap-xlg;
  }
}

.headerBlock {
  @include tablet {
    display: flex;
    align-items: center;
    gap: customGap(20);
  }
}

.headerItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: $gap-md;
  margin-bottom: $gap-md;

  @include tablet {
    justify-content: start;
    margin-bottom: 0;
  }
}

.rating {
  display: flex;
  align-items: center;
  gap: $gap-sm;

  svg {
    width: 26px;
    height: 26px;

    @include tablet {
      width: 32px;
      height: 32px;
    }
  }
}

.review {
  display: flex;
  justify-content: space-between;
  padding: $gap-xlg;
  border-bottom: 1px solid $light-grey;
}

.reviewInfo {
  display: flex;
  flex-direction: column;
  gap: $gap-xlg;
}

.alert {
  display: flex;
  align-items: center;
  gap: $gap-xlg;

  div {
    position: relative;
    &::before {
      content: 'i';
      color: $white;
      position: absolute;
      display: inline-block;
      left: 46%;
      top: 9%;
      font-size: 24px;
    }
  }
}