@use '@/scss/abstracts' as *;

.modal {
  width: 532px;
  height: 320px;
  border-radius: 20px;
  background: linear-gradient(134deg, $primary 0%, $secondary 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.content {
  max-width: 420px;
}

.buttons {
  display: flex;
  gap: $gap-md;
  margin-top: customGap(10);
}