@use '@/scss/abstracts' as *;

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: $gap-xlg;
}

.title {
  margin-bottom: $gap-md;
}

.subTitle {
  margin-bottom: $gap-md;
}

.list {
  display: flex;
  flex-direction: column;
  gap: $gap-md;
  margin: 0;
  padding: 0px $gap-xlg 0px $gap-xlg;

  & li {
    line-height: 24px;
  }
}
