@use '@/scss/abstracts' as *;

.row {
  display: flex;
  align-items: center;

  & > * {
    flex: 1;
    flex: 20%;
    &:first-child {
      flex: 40%;
    }
  }
}

.head {
  margin-bottom: $gap-md;
  padding: 0 $gap-md;
}

.item {
  padding: $gap-md;
  border-radius: 20px;
  border: 1px solid $light-grey;
  margin-bottom: $gap-xlg;
}

.image {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: $gap-md;

  img {
    object-fit: contain;
  }
}

.clinicInfo {
  display: flex;
}

.price {
  display: flex;
}

.status {
  display: flex;
  align-items: center;

  &Item {
    border-radius: 8px;
    background: $dark-grey;
    padding: $gap-xs $gap-xlg;
    margin-right: $gap-xlg;
  }

  &Active {
    background: $primary;
  }
}

.firstPrice {
  text-decoration: line-through;
  margin-right: $gap-sm;
}

.feedbackButton {
  text-decoration: underline;
  cursor: pointer;
}