@use '@/scss/abstracts' as *;

.wrapper {
  display: flex;
  gap: $gap-xlg;
  margin-bottom: customGap(10);

  @include tablet {
    margin-bottom: customGap(20);
    & > div {
      flex: 50% 0 0;
    }
  }
}

.description {
  padding-top: $gap-xlg;
  line-height: 27px;
  padding-bottom: $gap-xlg;
  border-bottom: 1px solid $grey;
  margin-bottom: $gap-xlg;
}

.clinicCard {
  & > div > div{
    border: none;
    margin-bottom: 0;

    padding: $gap-md 0;

    @include tablet {
      padding: $gap-xlg 0;
    }
  }
}

.doctorInfo {
  & > div {
    padding: $gap-xlg $gap-xlg 0 $gap-xlg;
    border: 1px solid $light-grey;
    border-radius: 20px;
  }
}

.map {
  display: none;

  @include tablet {
    display: block;
  }
}