@use '@/scss/abstracts' as *;

.searchInputWrap {
  position: relative;
  z-index: 5;
}

.searchInput {
  height: 40px;
  border-radius: 100px;
  border: 1px solid var(--5, $light-grey);
  background: $white;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.10);
  overflow: hidden;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 $gap-xs 0 $gap-md;
  position: relative;
  z-index: 2;

  @include tablet {
    height: 60px;
    padding: 0 $gap-sm 0 customGap(6);
  }
}

.input {
  flex: 1;

  input {
    width: 100%;
    height: 38px;
    border: none;
    outline: none;
    color: $dark-grey;

    @include tablet {
      height: 58px;
    }
  }
}

.leftIcon {
  margin-right: $gap-sm;
}

.rightIcon {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: $primary;
  display: flex;
  justify-content: center;
  align-items: center;

  @include tablet {
    width: 48px;
    height: 48px;
  }

  svg {
    width: 18px;
    height: 18px;

    @include tablet {
      width: 24px;
      height: 24px;
    }
  }
}

.suggestionList {
  position: absolute;
  top: 50%;
  left: 0;
  border-radius: 10px;
  border: 1px solid $light-grey;
  background: $white;
  box-shadow: 0px 5px 20px 0px rgba(0, 88, 193, 0.10), 0px 2px 8px 0px rgba(0, 113, 83, 0.04);
  width: 100%;
  z-index: 1;
  padding: customGap(6) $gap-lg 0;
  max-height: 480px;
  overflow: auto;

  @include tablet {
    padding: customGap(10) customGap(6) 0;
  }

  &Item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: customGap(2.5) 0;
    cursor: pointer;

    &:not(:last-child) {
      border-bottom: 1px solid $light-grey;
    }

    &:hover {
      p {
        color: $primary;
      }

      svg {
        path {
          color: $primary;
          fill: $primary;
        }
      }
    }
  }
}