@use '@/scss/abstracts' as *;

.wrapper {
  box-shadow:
    0px 5px 20px 0px rgba(0, 88, 193, 0.1),
    0px 2px 8px 0px rgba(0, 113, 83, 0.04);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: $gap-sm;
}

.section {
  display: flex;
  align-items: center;
}

.logo {
  position: relative;
  width: 148px;
  height: 60px;

  @include laptop {
    width: 100px;
    height: 40px;
  }
}

.locationsSelector {
  display: none;

  @include tablet {
    display: block;
  }
}

.navigation {
  display: none;

  @include tablet {
    display: block;
  }
}

.burger {
  width: 40px;
  height: 40px;
  background-color: $secondary;
  border-radius: 50%;
  cursor: pointer;
  margin-left: $gap-md;
  position: relative;

  &::before,
  &::after {
    content: '';
  }

  span,
  &::before,
  &::after {
    width: 18px;
    display: inline-block;
    background-color: $white;
    height: 2px;
    position: absolute;
    left: 11px;
    border-radius: 10px;
  }

  span {
    top: 20px;
  }

  &::before {
    top: 25px;
  }

  &::after {
    top: 15px;
  }

  @include tablet {
    display: none;
  }
}
