@use '@/scss/abstracts' as *;

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: customGap(1.5) customGap(1.5) customGap(1.5) customGap(2.5);
  border: 1px solid $light-grey;
  border-radius: 100px;
  margin-left: $gap-sm;
  cursor: pointer;

  &:hover {
    background-color: $primary;
    border: 1px solid $primary;

    p {
      color: $white;
    }
  }

  @include desktop {
    padding: $gap-sm $gap-sm $gap-sm $gap-xlg;
  }
}

.icon {
  width: 28px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $secondary;
  margin-left: $gap-sm;
  border-radius: 50%;

  @include desktop {
    width: 32px;
    height: 32px;
  }
}