@use '@/scss/abstracts' as *;

.searchBlock {
  max-width: 100%;
}

.searchInput {
  margin: 0 $gap-xlg;

  @include tablet {
    margin: 0;
  }
}

.list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0 0 customGap(6) 0;
  overflow: auto;

  @include tablet {
    justify-content: center;
  }
}

.link {
  display: inline-block;
  padding: 0 $gap-sm;
  text-decoration: none;
  text-transform: uppercase;
  
  &:hover {
    h5 {
      color: $black;
    }
  }

  h5 {
    white-space: nowrap;

    @include tablet {
      white-space: normal;
    }
  }
}
