@use '@/scss/abstracts' as *;

.list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0 0 customGap(6) 0;
}

.link {
  display: inline-block;
  padding: 0 $gap-sm;
  text-decoration: none;
  text-transform: uppercase;
}

.activeLink {
  //TODO add colors for active state
}
