@use '@/scss/abstracts' as *;

.wrapper {
  display: flex;
  gap: $gap-xlg;
}

.item {
  flex: 50%;
}

.mapContainer {
  padding: $gap-xlg 0;
}

.map {
  display: none;

  @include tablet {
    display: block;
  }
}

.mapButton {
  display: flex;
  align-items: center;
  gap: $gap-md;
  position: fixed;
  z-index: 15;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: 20px;
  padding: $gap-sm $gap-sm $gap-sm $gap-xlg;
  flex-shrink: 0;
  border-radius: 100px;
  background: linear-gradient(91deg, $primary 0.64%, $secondary 99.6%);
  box-shadow: 0px 10px 40px 0px rgba(20, 72, 134, 0.60), 0px 2px 8px 0px rgba(0, 113, 83, 0.04);

  @include tablet {
    display: none;
  }

  p {
    white-space: nowrap;
  }

  &Icon {
    width: 32px;
    height: 32px;
    background-color: $white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
  }
}

.mobileMap {
  width: calc(100% + $gap-md * 2);
  left: -$gap-md;
  position: relative;
}