@use '@/scss/abstracts' as *;

.inputWrap {
  margin-bottom: $gap-xlg;
}

.input {
  input {
    border-radius: 20px;
    border: 1px solid $light-grey;
    background: $white;
    height: 44px;
    outline: none;
    padding: 0 $gap-lg;
    color: $dark-grey;
    width: 100%;
  }
}

.label {
  margin-bottom: customGap(2.5);
}

.inputContainer {
  position: relative,
}

.button {
  border-radius: 40px;
  background-color: $secondary;
  border: none;
  outline: none;
  cursor: pointer;
  position: absolute;
  top: 7px;
  right: 10px;
  height: 30px;
  width: 135px;

  &:hover {
    background-color: $primary;
  }
}