@use '@/scss/abstracts' as *;

.mapWrapper {
  border-radius: 20px;
  border: 1px solid $light-grey;
  box-shadow:
    0px 5px 20px 0px rgba(0, 88, 193, 0.1),
    0px 2px 8px 0px rgba(0, 113, 83, 0.04);
  overflow: hidden;
  width: 100%;
}

.map {
  width: 100%;
  height: calc(100vh - 40px);
}

.smallMap {
  width: 100%;
  height: 270px;

  @include tablet {
    height: 100%;
  }
}
